<aside class="page-sidebar">
    <div class="user-wrap">
        <div class="user-avatar">
            <img src="http://www.abhikhatri.com/build/img/avtaar.jpg" alt="User Avtaar" class="avatar-image">
        </div>
        <ul class="user-info">
            <li class="info-item name">
                Abhi Khatri
            </li>
            <li class="info-item">
                New Delhi, India
            </li>
        </ul>
    </div>

    <ul class="todo-lists">
        <h3 class="section-title">Task List</h3>
        
        <li class="lists-item active">
            <a href="#" class="list-link">Task #1</a>
        </li>
        
        <li class="lists-item">
            <a href="#" class="list-link">Task #2</a>
        </li>
    </ul>
</aside>

<div class="page-content">
    <p>Hello</p>
</div>