<div class="form-wrapper">
  <div class="container">
      <div class="form-sections">
        <div class="col-md-6 f-login-container">
          
          <span ng-if="$state.current.name === 'app.login'">
            <h1 class="f-login-title">
              log in
            </h1>

            <form name="loginForm" ng-submit="sessionCtrl.login(user)" novalidate>
              
              <div class="form-group">
                <input class="form-control" placeholder="Email address" type="email" ng-model="user.email">
              </div>

              <div class="form-group">
                <input class="form-control" placeholder="Password" type="password" ng-model="user.password">
              </div>

              <label class="checkbox">
                <input type="checkbox"> 
                Keep Me Signed In
              </label>

              <input type="submit" name="commit" value="log in" class="btn btn-lg btn-primary btn-block f-login-btn">
            </form>
          </span>
          
          <span ng-if="$state.current.name === 'app.signup'">
            <h1 class="f-login-title">
              Sign Up
            </h1>

            <form name="loginForm" ng-submit="loginForm.$valid && sessionCtrl.register(user)" novalidate>
              
              <div class="form-group">
                <input name="full_name" class="form-control" placeholder="Full Name" type="text" ng-model="user.name" required>
                <p ng-show="loginForm.full_name.$invalid && loginForm.full_name.$touched || loginForm.$submitted && loginForm.full_name.$invalid" class="help-block">Full Name is required.</p>
              </div>

              <div class="form-group">
                <input name="email" class="form-control" placeholder="Email address" type="email" ng-model="user.email" required>
                <p ng-show="loginForm.email.$invalid && loginForm.email.$touched || loginForm.$submitted && loginForm.email.$invalid" class="help-block">Email is required.</p>
              </div>
              
              <div class="form-group">
                <input name="password" class="form-control" placeholder="Password" type="password" ng-model="user.password" ng-minlength="8" required>
                 <p ng-show="loginForm.password.$invalid && loginForm.password.$touched || loginForm.$submitted && loginForm.password.$invalid" class="help-block">Password is required (Min 8 Characters).</p>

              </div>

              <input type="submit" name="commit" value="sign up" class="btn btn-lg btn-block f-login-btn">
            </form>
          </span>
        </div>

        <div class="col-md-6 f-register-container">

          <div class="f-regiter-width">

            <span ng-if="$state.current.name === 'app.login'">
              <p class="f-register-tagline">
                If you don’t already have an account click the button below to create your account.
              </p>
              
              <a ui-sref="app.signup" class="btn btn-block f-register-btn">create account</a>
            </span>

            <span ng-if="$state.current.name === 'app.signup'">
              <p class="f-register-tagline">
                If you have an account already click the button below to log in.
              </p>

              <a ui-sref="app.login" class="btn btn-block f-register-btn login">log in</a>  
            </span>
            

            <div class="f-register-divider">
              or
            </div>

            <a href="#" class="btn btn-block f-register-btn g-plus-btn">
              Sign in with Google
              <i class="ion fa-fw">&#xf235;</i>
            </a>

          </div>
        </div>
      </div>

      <div class="f-bottom-section">
        <span>So you can’t get in to your account?</span> <span class="f-text-block">Did you 
          <a class="f-link" href="#">forget your password?</a>
        </span>
        <br>
      </div>
  </div>
</div>