/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Base Styles
   ========================================================================== */

html,
body,
#wrapper{
  height: 100%;
  width: 100%;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
}


/* Theme Styles
   ========================================================================== */

.img-thumbnail,
.btn,
.btn-group .btn,
.btn-group .dropdown-menu,
.btn-group .btn,
.btn-group .btn:first-child:not(:last-child),
.btn-group .btn:last-child:not(:first-child),
.table-bordered,
.table-bordered tr:first-child th:first-child,
.table-bordered tr:first-child th:last-child,
.table-bordered tr:last-child td:first-child,
.table-bordered tr:last-child td:last-child,
.input-group .btn,
.input-group .dropdown-menu,
.input-group .form-control,
.input-group .input-group-addon,
.dropdown-menu,
.dropdown-menu .dropdown-submenu .dropdown-menu,
.form .form-control,
.form .btn,
.form-control,
.label,
.badge,
.alert,
.alert .btn,
.progress,
.breadcrumb,
.tooltip .tooltip-inner,
.popover,
.nav-list-panel,
.nav-tabs li > a,
.tabs-below .nav-tabs li > a,
.tabs-right .nav-tabs li > a,
.tabs-left .nav-tabs li > a,
.nav-tabs .dropdown-menu,
.tabs-below .nav-tabs .dropdown-menu,
.nav-pills li a,
.nav-pills .dropdown-menu,
.navbar,
.navbar .dropdown-menu,
.progress-bar, .progress
.pagination li:first-child a, 
.pagination li:first-child span,
.pagination li:last-child a, 
.pagination li:last-child span,
.pager li a:hover,
.pager li a:focus,
.panel,
.panel-heading,
.panel-body,
.breadcrumb-arrow li:first-child a,
pre, code,.container .jumbotron,
.input-lg, .form-group-lg .form-control ,
.modal-header .modal-title,.modal-content,
.panel-group .panel, .panel-group .panel-heading{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
}


/* Layout Styles
   ========================================================================== */

#main-navbar{
  background: #424f57;
  border: 0;
  margin-bottom: 0;

  .navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
    width: 240px;

    img{
      margin: 0 auto;
    }
  }
  
  .nav-link{
    color: #fff;

    &:hover{
      background: #4f5c67;
    }

    &.sign-up{
      background: #00afd8;
    }
  }
}

.inner-wrapper{
  height: 100%;
  height: calc(100% - 50px);
  width: 100%;

  &.vertically-center{
    display: table;
  }
}

.page-sidebar,
.page-content{
  padding: 15px;
  height: 100%;
}

.page-sidebar{
  color: #fff;
  background-color: #4f5c67;
  float: left;
  width: 240px;
}

.page-content{
  margin-left: 240px;
}

.user-wrap{
  text-align: center;
  border-bottom: 1px solid #fff;

  .user-avatar{
    height: 120px;
    width: 120px;
    margin: 10px auto;
  }

  .avatar-image{
    width: 100%;
    border-radius: 50%;
  }

  .user-info{
    padding: 0;
    margin-bottom: 15px;

    .info-item{
      list-style: none;

      &.name{
        font-size: 18px;
      }
    }

  }
}

.todo-lists{
  padding: 0;
  margin: 0 -15px;

  .section-title{
    font-size: 20px;
    font-weight: 300;
    margin-left: 60px;
  }

  .lists-item{
    list-style: none;
    padding: 10px;
    padding-left: 60px;

    &.active{
      cursor: pointer;
      background-color: #424f57;


      .list-link{
        text-decoration: none;
      }
    }
  }

  .list-link{
    color: #fff;
  }
}

.form-wrapper{
    display: table-cell;
    padding: 20px 0;
    vertical-align: middle;
    background: #DDD;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;

  .container {
    padding-right: 40px;
  }

  .form-sections:before,
  .form-sections:after {
    content: " ";
    display: table;
  }


  .form-sections:after {
    clear: both;
  }

  .f-register-container,
  .f-login-container {
    background: #fff;
    padding: 50px 60px;
    min-height: 385px;
  }

  .f-login-container {
    border-right: 1px solid #D9D9D9;
  }

  .new_user,
  .f-login-title,
  .f-regiter-width {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .f-regiter-width{
    margin: 50px auto;
  }

  .f-login-title {
    color: #000000;
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700 !important;
    text-transform: capitalize;
    margin-top: 13px;
    margin-bottom: 30px;
  }

  .f-bottom-section {
    background: #F3F3F3;
    color: #5F5F5F;
    font-size: 14px;
    font-weight: 700;
    padding: 26px 0;
    text-align: center;
  }

  .f-link {
    color: #5F5F5F;
    text-decoration: underline;
  }

  .form-control {
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    display: block;
    margin-bottom: 16px;
    min-height: 42px;
    padding: 13px 14px;
  }

  .form-control::-webkit-input-placeholder {
    color: #868686;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
  }

  .form-control::-moz-input-placeholder {
    color: #868686;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
  }

  .form-control:-moz-input-placeholder {
    color: #868686;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
  }

  .form-control:-ms-input-placeholder {
    color: #868686;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
  }

  .checkbox {
    display: block;
    color: #666666;
    font-size: 13px;
    font-weight: 500;
    margin: 20px 0;
    padding-left: 20px;
  }

  .btn.f-login-btn {
    border-radius: 0 !important;
    padding: 8px;
    font-weight: 400;
    text-transform: uppercase;

    &::hover {
      color: #fff;
      border-color: #3276b1;
    }
  }

  .f-register-tagline,
  .f-tagline {
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 13px;
  }

  .f-register-btn {
    color: #fff;
    margin-top: 20px;
    border-radius: 0 !important;
    padding: 8px;
    font-weight: 700;
    background: #000000;
    text-transform: capitalize;

    &:hover {
      color: #fff;
    }

    .ion{
      font-size: 18px;
      vertical-align: middle;
    }

    .fa-fw{
      width: 1.28571429em;
      text-align: center;
    }
  }

  .f-register-btn.g-plus-btn {
    margin-top: 0;
    background: #d34836 !important;
}

  .f-register-divider {
    color: #666666;
    font-size: 13px;
    font-weight: 700;
    margin: 15px 0;
    text-align: center;
    text-transform: uppercase;
  }

}




