<!DOCTYPE html>
<html>
<head>
  <title>Todo Timer</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <base href="/">
  
</head>
<body ng-app="todoApp">
	<%= yield %>
  <%= javascript_include_tag "application", media: "all", "data-turbolinks-track" => false %>
</body>
</html>
